.typografie-avenirroman {
  font-family: "AvenirRoman";
}

.typografie-avenirmedium {
  font-family: "AvenirMedium";
}

.typografie-avenirblack {
  font-family: "AvenirBlack";
}

#typografie-h3 {
  font-family: "AvenirBlack";
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.typografie-paragraaf {
  max-width: 400px;
  font-size: 0.9231rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: "AvenirRoman";
}

.typografie-desktop-h2 {
  max-width: 400px;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.5;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-family: "AvenirBlack";
}

.typografie-desktop-h3 {
  max-width: 400px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-family: "AvenirBlack";
}

.typografie-desktop-h4 {
  max-width: 400px;
  font-size: 1.3462rem;
  font-weight: 700;
  line-height: 1.5;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  font-family: "AvenirBlack";
}

.h4-link {
  max-width: 400px;
  font-size: 1.3462rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: "AvenirBlack";
  color: black;
}

.h4-link:hover {
  max-width: 400px;
  font-size: 1.3462rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: "AvenirBlack";
  color: red;
}

.h3-link {
  max-width: 400px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: "AvenirBlack";
  color: black;
}

.h3-link:hover {
  max-width: 400px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: "AvenirBlack";
  color: red;
}

.h2-link {
  max-width: 400px;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: "AvenirBlack";
  color: black;
}

.h2-link:hover {
  max-width: 400px;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: "AvenirBlack";
  color: red;
}

.paragraaf-link {
  max-width: 400px;
  font-size: 0.9231rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "AvenirRoman";
  color: black;
}

.paragraaf-link:hover {
  max-width: 400px;
  font-size: 0.9231rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "AvenirRoman";
  color: red;
}

pre {
  background-color: darkslategray;
  color: rgb(188, 178, 125);
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
}
